{
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "arrowParens": "always",
    "overrides": []
}
